
html {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
    font-family: "Roboto";
    background-color: rgba(167, 40, 0, 1);
    width: 100%;
 }
header {
    display: flex;
    flex-direction: column ;
    justify-content: center;
    width: 100em;
}

h1 {
    display: block;
    width: auto;
    margin: 0 auto;
    color: rgba(255, 255, 255, 1);
    font-size: 120px;
    font-weight: 700;
    line-height: 218px;
    text-align: center;
    

}
.header_container {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    
}

.header_text {
    width: 380px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    font-weight: 200px;
    line-height: 29px;
}
.header_text-number {
    color: rgba(255, 255, 255, 1);
    font-size: 56px;
    font-weight: 800px;
    
    
}
.img_fox {
    border-radius: 50%;
    width: 30em;
    position: relative;
    top: 120px;
    left: -10px;
}
.container_logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.weigh {
    font-size: 24px;
    font-weight: 700px;
    display: block;
}

#logo_fox {
    width: 340px;
    height: 240px;
    position: relative;
    top: 50px;
   
}
 a #logo_text {
    width: 205px;
    cursor: pointer;
    padding-left: 25px;
}
section {
    
    width: 100em;
    height: 60vh;
    background-color: rgba(248, 248, 248, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
   
}

.section_text {
    width: 70%;
    color: rgba(0, 0, 0, 1);
    font-weight: 300px;
    font-size: 24px;
   
}
 .grey {
background-color: rgba(217, 217, 217, 1);
font-size: 18px;
display: block;
height: 60px;
padding: 50px auto;
text-align: center;
padding-top: 30px;


}
.section_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
   
}
ul {
    padding-left: 20px;
}
.block_list {
    height: 15vh;
    background-color: rgba(217, 217, 217, 1);
    padding: 10px 20px;
}
